<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Cloud Storage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="top-bar"></div>

    <main class="page-wrapper">
        {% block content %}{% endblock %}
    </main>

    <footer class="bottom-bar">
        <a href="#">Contact Us</a>
        <a href="#">Privacy Policy</a>
        ©2026 All rights reserved
    </footer>
</body>
</html>