{% extends "base.html" %}
{% block content %}
<div class="top-bar-content">
    <div class="name-text">LockCloud</div>
</div>

<div class="two-factor">
    <form method="POST" class="two-factor-form">
        <h1>{{ t('confirm_email_title') }}</h1>
        <p>{{ t('confirm_email_desc') }}</p>
        <input
            type="text"
            name="otp"
            placeholder="{{ t('confirm_email_placeholder') }}"
            required
        >
        <button type="submit">{{ t('confirm_email_btn') }}</button>
    </form>
</div>
{% endblock %}