{% extends "base.html" %}

{% block content %}
<div class="top-bar-content">
    <div class="name-text">Cloud Storage Name</div>
    <div class="buttons">
        <a href="{{ url_for('home') }}" class="btn-home">Home</a>
    </div>
</div>

<section class="forgot-password">
    <div class="forgot-password-form">
        <h1>Forgot Password</h1>
        <p>Enter your email address and we’ll send you a reset link</p>

        <form method="POST">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <button type="submit" class="forgot-btn">
                Send reset link
            </button>
        </form>

        <a href="{{ url_for('signin') }}" class="back-to-login">
            ← Back to Sign In
        </a>
    </div>
</section>
{% endblock %}
