{% extends "base.html" %}

{% block content %}

<div class="top-bar-content">
    <div class="name-text">NAME</div>
    <div class="buttons">
        <a href="/storage" class="btn-home">Storage</a>
    </div>
</div>

<div class="profile-layout">

    <aside class="profile-sidebar">
        <div class="sidebar-user">
            <i class="fa-regular fa-user"></i>
            <span>{{ user.full_name }}</span>
        </div>

        <div class="sidebar-line"></div>

        <nav class="sidebar-nav">
            <a href="/profile">Profile</a>
            <a href="/notifications" class="active">Notification</a>
            <a href="/settings">Settings</a>
        </nav>
    </aside>

    <section class="profile-content">
        <div class="notification-list">
            {% if notifications %}
                {% for n in notifications %}
                    <div class="notification-card">
                        <i class="fa-regular fa-comment"></i>
                        <span>{{ n.message }}</span>
                    </div>
                {% endfor %}
            {% else %}
                <div class="notification-card">
                    <span>No notifications</span>
                </div>
            {% endif %}

        </div>
    </section>
    
</div>

{% endblock %}
