{% extends "base.html" %}
{% block content %}
<section class="forgot-password">
    <div class="forgot-password-form">
        <h1>{{ t('reset_title') }}</h1>
        <form method="POST">
            <label>{{ t('reset_verification_code') }}</label>
            <input type="text" name="otp" required>

            <label>{{ t('settings_new_password') }}</label>
            <input type="password" name="new_password" required>

            <label>{{ t('settings_confirm_password') }}</label>
            <input type="password" name="confirm_password" required>

            <button type="submit" class="forgot-btn">{{ t('reset_btn') }}</button>
        </form>
    </div>
</section>
{% endblock %}