{% extends "base.html" %}
{% block content %}
<section class="forgot-password">
    <div class="forgot-password-form">
        <h1>Reset Password</h1>

        <form method="POST">
            <label>Verification code</label>
            <input type="text" name="otp" required>

            <label>New password</label>
            <input type="password" name="new_password" required>

            <label>Confirm password</label>
            <input type="password" name="confirm_password" required>

            <button type="submit" class="forgot-btn">
                Reset password
            </button>
        </form>
    </div>
</section>
{% endblock %}
