{% extends "base.html" %}

{% block content %}
<div class="top-bar-content">
    <div class="name-text">Cloud Storage Name</div>
    <div class="buttons">
        <a href="#" class="btn-language"><i class="fas fa-globe"></i></a>
        <a href="{{ url_for('home') }}" class="btn-home">Home</a>
    </div>
</div>

<section class="signin">
    <div class="signin-form">
        <h1>Sign In</h1>

        <form method="POST" action="{{ url_for('signin') }}">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label>Password</label>
            <div class="signin-password">
                <input type="password" name="password" placeholder="Enter password" required>
            </div>

            <a href="{{ url_for('forgot_password') }}" class="signin-forgot">
                Forgot password?
            </a>


            <!-- <label class="signin-remember">
                <input type="checkbox" name="remember_me" checked>
                Remember Me
            </label> -->

            <button type="submit" class="signin-btn">Sign In</button>
        </form>
        
        <p class="signin-signup">
            Don’t have an account?
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </p>
    </div>

    <div class="signin-image">
        <img src="/static/img/img4.png" alt="Cloud Security">
    </div>
</section>
{% endblock %}
